<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>Butlercam - CI/CD Monitoring Platform</title>
    <meta name="description" content="A monitoring application for your Jenkins pipelines">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Bajor">

    <!-- MAIN STYLES -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,300" >
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">

    <!-- MAIN JAVASCRIPTS -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lineandbars.js"></script>
    <script type="text/javascript" src="/static/js/dash-charts.js"></script>
    <script type="text/javascript" src="/static/js/gauge.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider.js"></script>

    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- DataTables Initialization -->
    <script type="text/javascript" src="/static/js/datatables/jquery.dataTables.js"></script>

    <!-- Clock -->
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('theclock').innerHTML =
                    h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    </script>
</head>

<body onload="startTime()">
<!-- NAVIGATION MENU -->

<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/static/images/logo30.png" alt=""> BUTLERCAM Dashboard</a>
        </div>
    </div>
</div>
