# Config
# Hostname for Redis
REDIS_HOST = 'redis'

# How long to cache entries in redis
CACHE_TIMEOUT = 600

# How often to update Redis from Jenkins
UPDATE_INTERVAL_S = 60

# Beginning of businessday
OPEN_HOUR = 8

# End of businessday
CLOSE_HOUR = 17

PIPELINES = {
    'deepthought': ('deepthoughtci','http://deepthought.ci.f4tech.com/job/00-DeepthoughtCI-Pipeline'),
    'testn': ('testnci','http://testn.ci.f4tech.com/job/00-Deploy-TestN')
}
